@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color: #00989e;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

.remark-slide-number {
    bottom: 20px;
}

ul li, ol li {
    text-align: left;
    font-size: 26px;
    margin-top: 15px;
}

.remark-slide-content {
    border-bottom: 18px solid #00989e;
    display: table-cell;
    font-size: 24px;
    padding: 0 6em;
    vertical-align: middle;
}

.remark-code-line {
    text-align: left;
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    padding: 0 1em;
}

#slide-qos_bw_limit_ovs pre {
    text-align: left;
}

#slide-qos_bw_limit_ovs img {
    width: 40%;
    margin-top: 20px;
}

#slide-qos_linuxbridge_support_1 img {
    width: 60%;
    margin-top: 20px;
}

#slide-qos_linuxbridge_details_1 img {
    width: 60%;
    margin-top: 20px;
}

#slide-qos_linuxbridge_details_2 pre {
    text-align: left;
}

#slide-qos_linuxbridge_details_2 p {
    text-align: left;
    margin-left: 15%;
}


#slide-qos_how_tc_tbf_works img {
    width: 60%;
    margin-top: 20px;
}
#slide-qos_how_tc_tbf_works p {
    font-size: 12px;
}
